/*

'Rendezvous' is the central hub for all our required SCSS files.

Just remember:
 ________   ________   ________    _________        ________   ________   ________    ___   ________
|\   ___ \ |\   __  \ |\   ___  \ |\___   ___\     |\   __  \ |\   __  \ |\   ___  \ |\  \ |\   ____\
\ \  \_|\ \ \  \|\  \ \  \ \  \|___ \  \_|     \ \  \|\  \ \  \|\  \ \  \ \  \ \  \ \  \___|
 \ \  \ \ \ \  \\  \ \  \ \  \    \ \  \       \ \   ____\ \   __  \ \  \ \  \ \  \ \  \
  \ \  \_\ \ \  \\  \ \  \ \  \    \ \  \       \ \  \___| \ \  \ \  \ \  \ \  \ \  \ \  \____
   \ \_______\ \_______\ \__\ \__\    \ \__\       \ \__\     \ \__\ \__\ \__\ \__\ \__\ \_______\
    \|_______| \|_______| \|__| \|__|     \|__|        \|__|      \|__|\|__| \|__| \|__| \|__| \|_______|

*/
/*

core > reset

http://meyerweb.com/eric/tools/css/reset/
v2.0

Cheers Eric, you total legend.

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

core > variables

*/
/*

core > typography

*/
html {
  font-size: 62.5%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.615; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold; }

a {
  color: #684f3e;
  text-decoration: none; }

/*

core > layout

*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  min-height: 100%; }

body {
  background: url(../images/wood.jpg) repeat top center transparent;
  background-size: 400px;
  height: 100%; }

.homepage-intro {
  background: url(../images/backdrops/woods.jpg) no-repeat bottom center;
  background-size: cover;
  height: 100%;
  position: relative;
  text-align: center; }
  .homepage-intro:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent); }
  .homepage-intro .intro-image {
    position: relative;
    width: 80%;
    margin-top: 50px;
    max-width: 350px;
    z-index: 5; }

.navigation-wrap {
  background: #e9e5e4;
  background-size: 150px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  font-family: "Amatic SC", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1.2rem; }
  .navigation-wrap .navigation {
    background: url(../images/hessian.png) repeat top center transparent;
    background-size: 150px;
    border: 1px dashed #b8b7b5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .navigation-wrap .navigation > li {
      text-align: center;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      flex-grow: 1;
      -ms-flex-positive: 1; }
    .navigation-wrap .navigation a {
      display: block;
      padding: 1.2rem 0; }
      .navigation-wrap .navigation a:hover {
        background: rgba(0, 0, 0, 0.02); }

/*# sourceMappingURL=compiled.css.map */
