/*

core > layout

*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
  &.navigation-open {
    overflow: hidden;
  }
}
body {
  background: url(../images/wood.jpg) repeat top left transparent;
  background-size: 400px;
  height: 100%;
}
.content-wrap {
  background: url(../images/stamp.svg) no-repeat bottom 1.5rem center transparent;
  margin: 0 auto;
  max-width: 1060px;
  padding: $m-outer;
  padding-bottom: 9rem;
}
.vertical-flex {
  @include display(flex);
  @include flex-direction(column);
}
@media screen and (min-width: $break-regular)  {
  .content-wrap {
    padding: $d-outer;
    padding-bottom: 9rem;
  }
}
.paper-box {
  background: url(../images/hessian.png) repeat top center transparent;
  background-size: 240px;
  box-shadow: 0px 0px 4px rgba(0,0,0,.25), 0 10px 6px -6px rgba(0,0,0,.25);
  border-radius: 2px;
  margin-bottom: $d-outer;
  padding: $m-inner;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  z-index: 1;
  &.stacked {
    box-shadow: 0px 0px 4px rgba(0,0,0,.25), 0 14px 6px -6px rgba(0,0,0,.25);
  }
  &.stacked:before {
    background: url(../images/hessian.png) repeat top center transparent;
    background-size: 240px;
    bottom: -.3rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.25), 0 10px 6px -6px rgba(0,0,0,.25);
    content: "";
    height: .3rem;
    left: .5rem;
    position: absolute;
    right: .5rem;
    z-index: 0;
  }
  &.align-left {
    text-align: left;
  }
}
@media screen and (min-width: $break-regular)  {
  .paper-box {
    padding: $d-inner;
    &.small-padding {
      padding: $m-inner;
    }
  }
}
.picture-box {
  background: url(../images/hessian.png) repeat top center transparent;
  background-size: 240px;
  box-shadow: 0px 0px 4px rgba(0,0,0,.25), 0 10px 6px -6px rgba(0,0,0,.25);
  border-radius: 2px;
  margin-bottom: 2.5rem;
  padding: $m-inner;
  position: relative;
  @include transform(translateZ(0));
  @include transform(scale(1));
  @include transform-origin(center center);
  @include transition-bounce;
  &.w-rope {
    &:before,
    &:after {
      background: url(../images/rope.png) no-repeat center center / 15px transparent;
      bottom: -25px;
      content: "";
      height: 25px;
      position: absolute;
      width: 15px;
    }
    &:before {
      left: 2.5rem;
    }
    &:after {
      right: 2.5rem;
    }
  }
  img {
    border-radius: 2px;
    display: block;
    width: 100%;
  }
  #map {
    border-radius: 2px;
    height: 500px;
    width: 100%
  }
  &.zoom-hover:hover {
    box-shadow: 0px 0px 8px rgba(0,0,0,.25), 0 20px 6px -10px rgba(0,0,0,.25);
    @include transform(scale(1.03));
  }
  .tape {
    height: 43px;
    position: absolute;
    width: 41px;
    z-index: 2;
    &.top-left {
      background: url(../images/frame/top-left.svg) repeat top center transparent;
      left: .8rem;
      top: .8rem;
    }
    &.top-right {
      background: url(../images/frame/top-right.svg) repeat top center transparent;
      right: .8rem;
      top: .8rem;
    }
    &.bottom-right {
      background: url(../images/frame/bottom-right.svg) repeat top center transparent;
      bottom: .8rem;
      right: .8rem;
    }
    &.bottom-left {
      background: url(../images/frame/bottom-left.svg) repeat top center transparent;
      bottom: .8rem;
      left: .8rem;
    }
  }
}
.mobile-flex-wrap {
  @include display(flex);
}
@media screen and (min-width: $break-regular)  {
  .flex-wrap {
    @include display(flex);
  }
  .left-col {
    padding-right: 1.5rem;
    position: relative;
    width: 50%;
  }
  .right-col {
    padding-left: 1.5rem;
    position: relative;
    width: 50%;
  }
}
.intro-image-wrap {
  background: url(../images/backdrops/woods.jpg) no-repeat center bottom / cover transparent;
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255,255,255,0.5);
  height: 100%;
  position: relative;
  text-align: center;
  &:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    @include linear-gradient(rgba(0,0,0,.9), transparent, $fallback: transparent);
  }
  &.wedding-party-image {
    background: url(../images/backdrops/close.jpg) no-repeat right center / cover transparent;
  }
  &.the-venue-image {
    background: url(../images/backdrops/look.jpg) no-repeat right center / cover transparent;
  }
  &.helpful-info-image {
    background: url(../images/backdrops/look-2.jpg) no-repeat right center / cover transparent;
  }
  &.giftlist-image {
    background: url(../images/backdrops/beach.jpg) no-repeat center bottom / cover transparent;
  }
  @media screen and (min-width: 1160px)  {
    &.giftlist-image {
      background-position: center bottom -100px;
    }
  }
  .intro-image {
    position: relative;
    width: 80%;
    margin-top: 90px;
    max-width: 450px;
    z-index: 5;
  }
  @media screen and (min-width: $break-regular)  {
    .intro-image {
      margin-top: 50px;
    }
  }
  .arrow {
    background: url(../images/homepage/arrow.svg) no-repeat center center transparent;
    bottom: 50px;
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
    z-index: 100;
    @include animation(bounce 2s infinite);
  }
  &.sub-page {
    height: auto;
    .intro-image {
      margin: 7rem 0 18rem;
      max-width: 350px;
    }
    .arrow {
      display: none;
    }
    &:after {
      @include linear-gradient(rgba(0,0,0,.8), transparent, $fallback: transparent);
    }
  }
  @media screen and (min-width: $break-regular)  {
    &.sub-page .intro-image {
      margin-top: 5rem;
    }
  }
}
@media screen and (min-width: $break-regular)  {
  .intro-image-wrap {
    box-shadow: none;
  }
}
.navigation-wrap {
  background: #e9e5e4;
  background-size: 150px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  display: none;
  font-family: $heading-font;
  font-size: $beta;
  font-weight: bold;
  padding: 1.2rem;
  position: relative;
  .navigation {
    background: url(../images/hessian.png) repeat top center transparent;
    background-size: 150px;
    border: 1px dashed $border-colour;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    @include display(flex);
    >li {
      position: relative;
      text-align: center;
      @include flex-grow(1);
      &:after {
        background: url(../images/navigation/heart.svg) no-repeat center center transparent;
        content: "";
        height: 12px;
        margin-top: -6px;
        position: absolute;
        right: -7px;
        top: 50%;
        width: 14px;
      }
      &:last-of-type:after {
        display: none;
      }
    }
    a {
      display: block;
      padding: 1.2rem 0;
      &:hover {
        background: rgba(0,0,0,.02);
      }
    }
  }
  &.sub-page {
    margin: -4.4rem 3rem 0 3rem;
  }
}
@media screen and (min-width: $break-regular)  {
  .navigation-wrap {
    display: block;
  }
}
.mobile-nav-bar {
  background: url(../images/hessian.png) repeat scroll center top / 150px auto transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  left: 0;
  padding: 1rem 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  &.navigation-open {
    display: none;
  }
  .mobile-nav-trigger {
    background: url(../images/navigation/nav-trigger.svg) no-repeat center center transparent;
    float: left;
    height: 2.4rem;
    width: 2.4rem;
  }
  .mobile-rsvp {
    background: url(../images/navigation/arrow.svg) no-repeat right center transparent;
    font-family: $heading-font;
    float: right;
    font-size: $beta;
    font-weight: bold;
    line-height: 2.4rem;
    padding-right: 2rem;
  }
}
.mobile-navigation-wrap {
  @include background-image(url("../images/navigation/heading.svg"), url("../images/hessian.png"));
  background-position: center 2rem, center;
  background-repeat: no-repeat, repeat;
  background-size: 90%, 200px;
  border-radius: 2px;
  bottom: 1.5rem;
  box-shadow: 0 0 0 10rem rgba(0,0,0,.5);
  left: 1.5rem;
  opacity: 0;
  overflow: hidden;
  padding: 2rem;
  pointer-events: none;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 9999;
  @include transform(scale(.9));
  @include transform-origin(center center);
  @include transition-bounce;
  &.navigation-open {
    opacity: 1;
    pointer-events: all;
    @include transform(scale(1));
  }
  .close-mobile-navigation {
    background: url(../images/navigation/close.svg) no-repeat center center transparent;
    display: block;
    height: 18px;
    text-indent: -9999px;
    width: 18px;
  }
  .navigation {
    font-size: $beta;
    font-weight: bold;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-overflow-scrolling: touch;
    @include transform(translateY(-50%));
    a {
      color: $purple-colour;
      display: block;
      font-family: $heading-font;
      padding: .5rem 0;
    }
  }
}
@media screen and (min-width: $break-regular)  {
  .mobile-nav-bar,
  .mobile-navigation-wrap {
    display: none;
  }
}
.footer {
  background: url(../images/footer.svg) no-repeat center center transparent;
  height: 22px;
  margin-bottom: $m-outer;
}

// Subpage specific

.sub-page-title {
  color: #fff;
  font-size: $giga;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  margin-bottom: .5rem;
  .inner {
    position: relative;
    &:before {
      background: url(../images/headings/white-leaf-left.svg) no-repeat center center transparent;
      content: "";
      height: 11px;
      left: -30px;
      margin-top: -6px;
      position: absolute;
      top: 50%;
      width: 24px;
    }
    &:after {
      background: url(../images/headings/white-leaf-right.svg) no-repeat center center transparent;
      content: "";
      height: 10px;
      margin-top: -5px;
      position: absolute;
      right: -30px;
      top: 50%;
      width: 24px;
    }
  }
}
.sub-page-description {
  color: #fff;
  font-size: $gamma;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  line-height: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: $break-regular)  {
  .sub-page-title {
    padding-top: 2rem;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5), 0 4px 8px rgba(0,0,0,0.6);
  }
  .sub-page-description {
    margin-bottom: 5rem;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.7);
  }
}

// Homepage only

.inside-border {
  border: 2px solid $border-colour;
  border-radius: 2px;
}
.venue-details {
  padding-top: 5.3rem;
  text-align: center;
  .barn {
    background: url(../images/homepage/barn.svg) no-repeat center center transparent;
    height: 65px;
    margin: -44px auto 0 auto;
    width: 108px;
  }
  .date-title {
    font-size: $alpha;
    margin-top: 1.8rem;
  }
  .time-title {
    font-size: $gamma;
    margin-top: .5rem;
  }
  .location-title {
    margin-bottom: 3rem;
  }
  .splitter {
    background: url(../images/homepage/splitter.svg) no-repeat center center transparent;
    display: block;
    height: .7rem;
    margin: 1.5rem 0;
  }
}
@media screen and (min-width: $break-regular)  {
  .engrave {
    background: url(../images/homepage/engrave.svg) no-repeat center center transparent;
    margin-bottom: $d-outer;
    @include flex(1);
  }
}

// Wedding party only

.wedding-party {
  max-width: 1560px;
}
.wedding-party-wrap {
  @include flex-wrap(wrap);
}
@media screen and (max-width: $break-large) and (min-width: $break-regular)  {
  .wedding-party-wrap .party-member {
    padding: 0 1.5rem;
    width: 50%;
  }
}
@media screen and (min-width: $break-large)  {
  .wedding-party-wrap .party-member {
    padding: 0 1.5rem;
    width: 33.33333333333333%;
  }
}

// The Venue only

.venue-info-box {
  @include flex-grow(1);
}
.leaflet-control-attribution {
  display: none;
}
.direction-form {
  margin-bottom: 1.5rem;
}
.direction-input {
  border: 1px solid $border-colour;
  border-radius: 3px 0 0 3px;
  border-right: 0;
  font-size: $epsilon;
  margin: 0;
  padding: 1rem;
  @include flex-grow(1);
}
.direction-button {
  background: $purple-colour;
  border: 0;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font-family: $body-font;
  font-size: $epsilon;
  margin: 0;
  padding: 0 2rem;
}

// Helpful info only

.hotel-list {
  @include flex-wrap(wrap);
}
.hotel-picture {
  background: none;
  box-shadow: none;
  padding: .2rem;
  .tape {
    &.top-left {
      left: 0;
      top: 0;
    }
    &.top-right {
      right: 0;
      top: 0;
    }
    &.bottom-right {
      bottom: 0;
      right: 0;
    }
    &.bottom-left {
      bottom: 0;
      left: 0;
    }
  }
}
.hotel-details {
  .hotel-name {
    font-size: $beta;
    margin-bottom: .5rem;
  }
  .hotel-distance {
    background: url(../images/hotels/location.svg) no-repeat left center transparent;
    display: block;
    font-size: $epsilon;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 1.6rem;
  }
  .hotel-description {
    line-height: 1.4;
  }
}
@media screen and (min-width: $break-regular)  {
  .hotel-block {
    @include align-items(center);
  }
  .hotel-list li {
    width: 50%;
  }
  .hotel-picture {
    margin-bottom: 0;
    width: 40%;
  }
  .hotel-details {
    padding-left: 1.5rem;
    width: 60%;
  }
  .hotel-description {
    font-size: $epsilon;
    margin-bottom: .5rem;
  }
}
