/*

core > variables

*/

// Colours:

$link-colour: #684f3e;

// Fonts:

$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-font: "Amatic SC", Helvetica Neue, Helvetica, Arial, sans-serif;

// Font sizes:

$alpha: 3rem;
$beta: 2.4rem;
$gamma: 1.6rem;
$delta: 1.4rem;
$epsilon: 1.3rem;
$zeta: 1.1rem;

$giga: 4.8rem;

// Responsive breakpoints:

$break-small: 599px;
$break-regular: 770px;
$break-large: 1024px;